<div class="p-2 border bg-info text-warning rounded border-dark mb-5">
  <h1 class="text-center">Dashboard</h1>
  <h2 class="text-center">Coffee Sales</h2>
</div>

  <div class="text-center mb-5">
  
    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Ventas totales de los ultimos 12 meses</h5>
      </div>
      <div class="card-body">
        <%= column_chart @sales_last_twelve_months, label: "ventas", xtitle: "Mes", ytitle: "ventas", colors: ["#98FB98"], messages: {empty: "Sin datos"}  %>
      </div>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Cantidad total de ventas de los ultimos 12 meses</h5>
      </div>
      <div class="card-body">
        <%= column_chart @sales_quantity_last_twelve_months, label: "Cantidad", xtitle: "Mes", ytitle: "Cantidad de ventas", colors: ["#98FB98"], messages: {empty: "Sin datos"}   %>
      </div>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Promedio de ventas de los ultimos 12 meses</h5>
      </div>
      <div class="card-body">
        <%= column_chart @sales_average_last_twelve_months, label: "Promedio", xtitle: "Mes", ytitle: "Promedio de ventas", colors: ["#98FB98"], messages: {empty: "Sin datos"}   %>
      </div>
    </div>

  </div>

  <div class="text-center mb-3">
    <div class="p-2 border bg-info text-white rounded border-dark mb-5">
      <h3>Origen del Café</h3>
      <h4>Ventas por Periodo</h4>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Últimos 12 meses</h5>
      </div>
      <div class="card-body">
        <%= pie_chart @origin_last_twelve_months.group(:origin).count, class:'border border-dark' %>
      </div>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Últimos 6 meses</h5>
      </div>
      <div class="card-body">
        <%= pie_chart @origin_last_six_months.group(:origin).count %>
      </div>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Últimos 3 meses</h5>
      </div>
      <div class="card-body">      
        <%= pie_chart @origin_last_three_months.group(:origin).count %>
      </div>
    </div>

    <div class="card border mb-5">
      <div class="card-head bg-light border">
        <h5 class="my-3">Último mes</h5>
      </div>
      <div class="card-body">  
        <%= pie_chart @origin_last_month.group(:origin).count %>
      </div>
    </div>

  </div>

  <div class="text-center">
    <div class="p-2 border bg-info text-white rounded border-dark mb-3">
      <h3>Mezclas de café</h3>
      <h4>Ventas por Periodo</h4>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Últimos 12 meses</h5>
      </div>
      <div class="card-body">  
        <%= pie_chart @blend_last_twelve_months.group(:blend).count %>
      </div>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Últimos 6 meses</h5>
      </div>
      <div class="card-body">  
        <%= pie_chart @blend_last_six_months.group(:blend).count %>
      </div>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Últimos 3 meses</h5>
      </div>
      <div class="card-body">  
        <%= pie_chart @blend_last_three_months.group(:blend).count %>
      </div>
    </div>

    <div class="card mb-3 border">
      <div class="card-head bg-light border">
        <h5 class="my-3">Último mes</h5>
      </div>
      <div class="card-body">
        <%= pie_chart @blend_last_month .group(:blend).count%>
      </div>
    </div>

  </div>
